.profileCard {
    display: flex;
    height: 100px;
    width: 300px;
    flex: 1 0 auto;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    font: small-caps bold 32px sans-serif;
    box-shadow:
            0 20px 20px rgba(0, 0, 0, 0.05),
            -20px 0 20px rgba(0, 0, 0, 0.05),
            0 -20px 20px rgba(0, 0, 0, 0.05),
            20px 0 20px rgba(0, 0, 0, 0.05);
}

.profileWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    padding-right: 10%;
    padding-left: 10%;
    width: 70%;
    box-shadow:
            inset 20px 0 20px rgba(0, 0, 0, 0.05),
            inset -20px 0 20px rgba(0, 0, 0, 0.05);
}