.footer {
    display: flex;
    align-items: flex-start;
    width: 100vw;
    height: 100px;
    background-color: #333;
}

.footer.absoluteBottom {
    position: absolute;
    bottom: 0;
}

.copyright {
    margin: 10px;
    color: white;
    font-size: 10px;
}