.form {
    margin: 5% auto 90px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    box-shadow:
            0 20px 20px rgba(0, 0, 0, 0.05),
            -20px 0 20px rgba(0, 0, 0, 0.05),
            0 -20px 20px rgba(0, 0, 0, 0.05),
            20px 0 20px rgba(0, 0, 0, 0.05);
}

.registerQuote {
    font: small-caps bold 26px sans-serif;
}

.form.login {
    margin-top: 10%;
    width: 430px;
    height: 560px;
}

.form.register {
    margin-top: 10%;
    height: 500px;
    width: 400px;
}

.tagline {
    margin-top: 20px;
    font: small-caps bold 20px sans-serif;
}